extends layout.pug
append head
    script(async defer src='/public/js/cities.js' type='module')
block content
    div#parent
      include include/header.pug
      h1 Upcoming Boba Times
      h3 Jump to Your city's Boba Times
      .cities
      .events
      include include/footer.pug
