extends layout.pug
append head 
    script(async defer src='/public/js/cities.js' type='module')
block content
    h3= jumpHeader
    ul
        li: a(href="/boba-times/events") All Events
        #cities
    block events
        