extends layout.pug
append head 
    script(async defer src='/public/js/cities.js' type='module')
block content
    h1 Upcoming Boba Times
    style.
        #map {
            width: 70%;
            height: 300px;
        }
    #map

    script(async defer src="../public/js/mapFeature.js")
        

    script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${key}&callback=initMap`)
    
    
    h3 Jump To Your City's Boba Times
        .cities
        .events
            