extends layout.pug

append head
    script(src="/public/js/dashboard.js" type="module" defer)
    link(rel="stylesheet", href="/public/css/account-details.css")
    //- link(rel="stylesheet" href="/public/css/dashboard.css")

block content
  div#parent
    include include/header.pug
    div.nav-container
        div.nav
            div.nav-text
                text QUICK LOOK
                text HISTORY
                a(href="/account-details") ACCOUNT DETAILS
    div#body-container
        div.left-container
            h1 Welcome home, #{nickname}!
            h2 What are you looking forward to today?
            a(href="/boba-times")
                button#boba-time-signup SIGN UP FOR A BOBA TIME
        div.boba-times
            .joined
                .headline-joined Boba times you're attending.
                .event-container-joined
                #join-new-boba-time-container
                    a(id='join-new-boba-time' href="/boba-times")
                        .plus +
                        div JOIN A BOBA TIME
            .hosted
                .headline-hosted Boba times you're hosting.
                .event-container-hosted
                #host-new-boba-time-container
                    a(id='host-new-boba-time' href="/hosting")
                        .plus +
                        div HOST A BOBA TIME
    include include/footer.pug
