extends layout.pug

block content
  div#parent
    include include/header.pug
    div#error-page-wrapper
      div#error-page
        h1 UH OH 404
        h2 Sorry buddy, looks like we don't have that page.
        button#error-page-button
          a(href='/') BACK TO HOMEPAGE
    include include/footer.pug
