extends layout

append head
    script(src="/public/js/event-details.js" type="module" defer)

block content
  div#parent
    include include/header.pug
    .events-list
    div(display="hidden" class="whichevent" id=`${id}`)
    include include/footer.pug
