doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title= title
    body
        h1 LAYOUT HEADER PLACEHOLDER
    #TEMPORARY
        div
            a(href="/signin") sign in -- visual
        div
            a(href="/signup") sign up -- visual
        h1
            ul
                li
                    a(href="/") Home
                li
                    a(href="/boba-times") Boba-Times
        
    main
        block content
