<!DOCTYPE html prefix="og: http://ogp.me/ns#">
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:title" content="Boba with Buddies")
        meta(property="og:url" content="https://boba-with-buddies.herokuapp.com/")
        meta(property="og:description" content="Meet new people by attending and hosting events—with bubble tea and good conversation. Based on Tea With Strangers, built using Javascript and Express, with Google Maps API integration.")
        meta(property="og:image" content="https://kmcgee92myawsbucket.s3-us-west-2.amazonaws.com/Boba-OGTag.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="300")
        meta(property="og:image:alt" content="Boba with Buddies Landing Page")
        meta(property="og:type" content="website")
        block head
            meta(charset="UTF-8")
            title Boba With Buddies
            link(href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
            link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
            link(href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="/public/css/reset.css")
            link(rel="stylesheet" href="/public/css/styles.css")
            link(rel="icon" href="/public/images/favicon.png")
            script(src="/public/js/navbar.js" type="module" defer)

    body
        block content
