<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            title Boba With Friends
            link(rel="stylesheet" href="/public/css/reset.css")
    body
        block content
