<!DOCTYPE html prefix="og: http://ogp.me/ns#">
html(lang="en")
    head
        meta()
        meta(property="og:title" content="Boba with Buddies")
        meta(property="og:url" content="https://boba-with-buddies.herokuapp.com/")
        meta(property="og:description" content="A Tea With Strangers Clone. A project utilizing Javascript and Express. You can view and attend different events utilizing the google maps on the Boba Times page or even host your own!")
        meta(property="og:image" content="https://kmcgee92myawsbucket.s3-us-west-2.amazonaws.com/Boba-OGTag.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="300")
        meta(property="og:image:alt" content="Boba with Buddies Landing Page")
        meta(property="og:type" content="website")
        block head
            meta(charset="UTF-8")
            title Boba With Buddies
            link(href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
            link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
            link(href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="/public/css/reset.css")
            link(rel="stylesheet" href="/public/css/styles.css")
            link(rel="icon" href="/public/images/favicon.png")
            script(src="/public/js/navbar.js" type="module" defer)

    body
        block content
