<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            title Boba With Buddies
            link(href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
            link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
            link(href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="/public/css/reset.css")
            link(rel="stylesheet" href="/public/css/styles.css")
            link(rel="icon" href="/public/images/favicon.png")
            //- link(rel="stylesheet" href="/public/css/header.css")
            //- link(rel="stylesheet" href="/public/css/footer.css")
            script(src="/public/js/navbar.js" type="module" defer)

    body
        block content
