extends layout.pug

include include/auth-input.pug

append head
  script(src="/public/js/login.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")

block content
  div#parent
    include include/header.pug
    div#form-container
      form#login-form
        h1 Hey buddy!
        h2 It's good to have you back. Sign in here and sign up for your next boba time!
        ul#errors-container
        input(type="hidden" name="_csrf" value=csrf)
        +authInput("text", "emailAddress", "Email Address")
        +authInput("password", "password", "Password")
        button(type="submit") Sign in
        div.create-account
          a.link-to-other-form(href="/signup") Haven't been here before? Sign up and introduce yourself.
    include include/footer.pug
