extends layout


block content
  style.
    #map {
      width: 80%;
      height: 400px;
    }
  h1 Markers Example

  #map

  script.
    var map;
    var locations = [
      {
        location: 'Fremont',
        latitude: 37.49267,
        longitude: -121.94409
      },
      {
        location: 'Folsom',
        latitude: 38.64392,
        longitude: -121.18621
      },
      {
        location: 'Gilroy',
        latitude: 37.02615,
        longitude: -121.56487
      },
      {
        location: 'Harris Ranch',
        latitude: 36.25316,
        longitude: -120.23853
      },
      {
        location: 'Mt. Shasta',
        latitude: 41.30981,
        longitude: -122.31766
      },
    ];

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 47.608013, lng: -122.335167 },
        zoom: 8
      });

      locations.forEach(function(sc) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(sc.latitude, sc.longitude),
        //-   icon: '../documentation/images/Coffee_5.png', 
          scaledSize: new google.maps.Size(64, 64),
          map: map,
          title: sc.location,
          animation: google.maps.Animation.DROP
        });
      });
    }

  script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${key}&callback=initMap`)