extends layout.pug

include include/auth-input.pug

append head
  script(src="/public/js/signin.js" type="module" defer)

block content
  form#signin-form
    h1 Welcome back, Buddy!
    h2 It must be time for bubble tea again.
    #errors-container
    input(type="hidden" name="_csrf" value=csrf)
    +authInput("text", "emailAddress", "Email Address")
    +authInput("password", "password", "Password")
    button(type="submit") Sign in
    a.link-to-other-form(href="/signup") Haven't been here before? Sign up and introduce yourself.
