div.nav-container {
    background-color: bisque;
}

div.nav {
    margin-left: auto;
    display: block;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

div.nav-text {
    background-color: bisque;
    padding: 20px;
    padding-left: 0px;

}

div.nav-text > text {
    padding-right: 10px;
    padding-left: 0px;
    font-weight: bold;
    margin-left: auto;
}

div#body-container {
    background-color: #faf6e8;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.center-container {
    padding: 2px;
    text-align: center;
}

#password-form {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #faf6e8;
    max-width: 650px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
