#parent {
    background-color: #F7BF4D;
}
#header {
    display: block;
    background-color: #F7BF4D;
    color: #FEFEFE;
    font-family: "Nanum Pen Script";
    font-size: 2em;
    font-weight: 400;
    height: 50px;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

div.logo > a {
    float: left;
    font-weight: bold;
    line-height: 2;
    font-size: 25px;
    color: #FEFEFE;
}

div.wrapper-nav {
    float: right;
    justify-content: right;
    color: #FEFEFE;
    margin-top: 5px;
}

div.wrapper-nav > button{
    margin-left: 15px;
    outline: 0;
}

a.header-link {
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    float:left;
    font-size: 30px;
    font-weight: bolder ;
    vertical-align: top;
}




h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
    text-align: left;
    margin-top:30px;
    margin-bottom: 10px;
    color: #EF6236;
}

h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 1.625;
    text-align: left;
}

#form-container {
    background-color: #faf6e8;


}

#login-form, #signup-form {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #faf6e8;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin: 0 0 0.8125em 0;
    padding: 1em;
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #DDD;
}

button[type='submit'] {
    background-color: #EF6236;
    border: 2px solid #EF6236;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color:white;
    font-size: 18px;
    padding: 1em;
    letter-spacing: 2px;
    margin-top: 1em;
}

button#signup {
    padding: 9px 18px;
    background-color: #FEFEFE;
    border: 2px solid #FEFEFE;
    border-radius: 3px;
    color: #F7BF4D;
}



div.create-account  {
    margin-top: 20px;
    font-size: 18px;
}

a.link-to-other-form{
    color: #EF6236;
    font-size: 18px;
    margin-left: 5px;
    line-height: 1.625;
}

div.existing-account  {
    margin-top: 20px;
    font-size: 18px;
}


h4 {
    font-size: 15px;
    color: #757575;
    text-align: center;
    margin-top:25px;
    margin-bottom: 45px;
    padding-left: 79px;
    padding-right: 79px;
}

div#footer {
    display: block;
    color: #FEFEFE;
    background-color: #F7BF4D;
    overflow: auto;
    padding: 2em 0;
    font-size: 18px;
    line-height: 1.625;
}


div#footer-container {
    display: block;
    box-sizing: border-box;
    padding: 0 1em;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.625;
}

div#footer-links {
    float: left;
    display: block;
    margin-right: 2.8425860857%;
    width: 28.01018974%;
    font-weight: bold;
    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 1.625;
}

div#footer-ethos {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
