

#parent {
    background-color: #F7BF4D;
}

button.cityButton, button.rsvpButton {
    background-color: #EF6236;
    border: 2px solid #EF6236;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color:white;
    font-size: 12px;
    padding: 8px;
    letter-spacing: 2px;
    margin-top: 1em;
}

h1 {
    padding-top: 50px;
    padding-left: 40px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    color: #4a3520;
}

h3 {
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    color: #4a3520;
}

div#body-container {
    background-color: #faf6e8;
    padding-bottom: 50px;

}

#map {
    justify-content: center;
}

