

#parent {
    background-color: #F7BF4D;
}

div.nav-container {
    background-color: bisque;
}

div.nav {
    margin-left: auto;
    display: block;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

div.nav-text {
    background-color: bisque;
    padding: 20px;
    padding-left: 0px;

}

div.nav-text > text {
    padding-right: 10px;
    padding-left: 0px;
    font-weight: bold;
    margin-left: auto;
}

button#boba-time-signup {
    background-color: #EF6236;
    border: 2px solid #EF6236;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color:white;
    font-size: 18px;
    padding: 1em;
    letter-spacing: 2px;
    margin-top: 1em;
}

div#body-container {
    background-color: #faf6e8;
    height: auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

div.boba-times {
    display: flex;
    margin-right:auto;

}

.left-container {

    margin-left: 50px;
    margin-right: 50px;
}



.headline-joined {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}
.headline-hosted {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}

#join-new-boba-time {
    text-align: center;
}

.joined {
    margin-right:60px;
}

.event-box {
    text-align: center;
    display: block;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 5px 5px 20px 1px #c4c3c3;
    border-radius: 5px;
    margin: 20px 0px;
    height: auto;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
    
    
    
}
#join-new-boba-time-container,
#host-new-boba-time-container {
    display: block;
    border: 1px dashed black;
    float: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 160px;
}

#host-new-boba-time {
    text-align: center;
}

.date-box,
.address-box {
    color: grey;
}

.date-box,
.time-box,
.address-box,
.hostname-box {
    font-size: 25px;
}

.hostname-box {
    padding-bottom: 10px;
    border-top: 1px solid black;
    box-sizing: border-box;
    margin: 0 20px;
}
.hostEvent__button,
.event__button {
    width: 100%;
    font-size: 20px;
    height: 50px;
    background-color: rgba(253, 227, 167, 1);
    font-weight: bold;
    color: #F7BF4D;
    border:1px solid orange;
    cursor:pointer;
    border-radius: 5px;
}
.hostEvent__button:hover,
.event__button:hover {
    background-color: #F7BF4D;
    color: white;
    font-weight: bolder;
}
