

#parent {
    background-color: #F7BF4D;
}

div.nav-container {
    background-color: bisque;
}

div.nav {
    margin-left: auto;
    display: block;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

div.nav-text {
    background-color: bisque;
    padding: 20px;
    padding-left: 0px;

}

div.nav-text > text {
    padding-right: 10px;
    padding-left: 0px;
    font-weight: bold;
    margin-left: auto;
}

button#boba-time-signup {
    background-color: #EF6236;
    border: 2px solid #EF6236;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color:white;
    font-size: 18px;
    padding: 1em;
    letter-spacing: 2px;
    margin-top: 1em;
}

div#body-container {
    background-color: #faf6e8;
    height: auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

div.boba-times {
    display: flex;
    margin-right:auto;

}

.left-container {

    margin-left: 50px;
    margin-right: 50px;
}



.headline-joined {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}
.headline-hosted {
    font-size: 2em;
    font-weight: bold;
    color: #EF6236;
    margin-bottom: 18px;
}

#join-new-boba-time {
    text-align: center;
}

.joined {
    margin-right:60px;
}

.event-box {
    text-align: center;
    display: block;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 0px 0px #888888;
    border-radius: 5px;
    margin: 20px 0px;
    height: 200px;
    padding: 10px 0px;
    box-sizing: border-box;
    
}
#join-new-boba-time-container,
#host-new-boba-time-container {
    display: block;
    border: 1px dashed black;
    float: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#host-new-boba-time {
    text-align: center;
}

