a,
article,
body,
button,
div,
fieldset,
footer,
form,
h1,
h2,
header,
html,
i,
img,
input,
label,
li,
main,
nav,
p,
section,
small,
span,
strong,
textarea,
time,
ul {
  background: transparent;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button,
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"],
textarea {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a { text-decoration: none; }
/*

html {
    font-size: 15px;
    color: black;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5, h6, a, ol, li, ul, div, p, span, body {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

body {
    background-color:  #FFFFFF;
}

#login-form, #signup-form {
    width: 360px;
    padding: 44px 56px;
    margin: 0 auto;

} */
